<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tushar's Project Management App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>


        <header class="p-3 text-bg-dark">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    
    
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <% projectInfo = `/projectInfo?projectId=${projectData._id}` %>

                        <li><a href=<%= projectInfo %> class="nav-link px-2 text-white fs-2 fw-bold"><%= projectData.projectName %></a></li>
                        <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
    
                        <% projectMembers = `/projectMembers?projectId=${projectData._id}` %>
                        <% projectTasks = `/projectTasks?projectId=${projectData._id}` %>
                        <% projectTasksAssignedByYou = `/tasksAssignedByYou?projectId=${projectData._id}` %>
                        <% projectTasksAssignedToYou = `/tasksAssignedToYou?projectId=${projectData._id}` %>
                        <li><a href=<%= projectMembers %> class="nav-link px-3 text-white">Members</a></li>
                        <li><a href=<%= projectTasks %> class="nav-link px-3 text-white">Project Tasks</a></li>
                        <li><a href=<%= projectTasksAssignedByYou %> class="nav-link px-3 text-white">Tasks Assigned by You</a></li>
                        <li><a href=<%= projectTasksAssignedToYou %> class="nav-link px-3 text-white">Tasks Assigned To You</a></li>
                    </ul>
    
                    <div class="text-end">
                        <a href="/logout"><button type="button" class="btn btn-outline-light me-2">Logout</button></a>
                        <a href="/signUp"><button type="button" class="btn btn-warning">Sign-up</button></a>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
            <ul class="list-group list-group-numbered">

                <% projectData.projectTasks.forEach((task)=>{ %>

                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold"><%= task.taskTitle %></div>
                          <p>Assigned by: <%= task.assignedBy %></p>
                          <p>Assigned to: <%= task.assignedTo %></p>
                        </div>
                        <% taskRoomUrl = `taskRoom?taskId=${task._id}&projectId=${projectData._id}` %>
                      <a href=<%= taskRoomUrl %>><span class="badge bg-primary rounded-pill">open</span></a>  
                      </li>

             <%  }); %>


              </ul>
            
        </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>